.issues-card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
}

.issues-card:hover {
  background-color: #d9d9d9;
}

.issues-container > a {
  text-decoration: none;
  color: black;
  font-weight: light;
}

.issues-card > h1 {
  font-size: 1.2rem;
  margin-right: 2rem;
}

.issues-card > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
  text-align: left;
}

.issues-card > p {
  text-align: right;
}

@media only screen and (max-width: 425px) {
  .issues-card {
    padding: 0.7rem;
    grid-gap: 0;
  }
  .issues-card > h1 {
    font-size: 1.2rem;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    margin: 0;
  }
  .issues-card > h2 {
    font-size: 0.9rem;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }
  .issues-card > p {
    font-size: 0.9rem;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }
}
