.navigation {
  display: flex;
  flex-direction: column;
}

.page-header {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header > div > img {
  width: 300px;
  cursor: pointer;
}

.page-header > div > h1 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.tab-view {
  --view-padding: 2rem;
  width: calc(100% - (2 * var(--view-padding)));
  padding: var(--view-padding);
}

.current-tab {
  display: none;
}

.tab-list {
  width: 100%;
  display: flex;
}

.tab-link {
  padding: 1rem 0.5rem;
  font-weight: 300;
  color: black;
  width: 25%;
  text-align: center;
}

.tab-link.active {
  background-color: #f5f5f5;
  color: #fc6d26;
  font-weight: 600;
}

.navigation-content {
  background-color: #f5f5f5;
  padding: 0.5rem;
}

#icon {
  width: 15px;
  margin-bottom: -2px;
  margin-left: 0.1rem;
}

@media only screen and (max-width: 426px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .tab-view {
    --view-padding: 0;
  }

  .current-tab {
    display: block;
    padding: 1rem 0.5rem;
    width: calc(100% - 1rem);
    text-align: center;
    color: #fc6d26;
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    z-index: 10;
    transition: color 300ms ease-in-out;
  }

  .current-tab.open {
    color: white;
  }

  .current-tab > img {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.7rem;
  }

  .tab-list {
    position: absolute;
    flex-direction: column;
    transform: scaleX(0);
    opacity: 0;
    padding-top: 3rem;
    margin-top: -3rem;
    transform-origin: right;
    transition: all 300ms ease-in-out;
    background-color: #fca326;
  }

  .tab-list.shown {
    transform: scaleX(1);
    opacity: 1;
  }

  .tab-link {
    width: calc(100% - 1rem);
  }

  .tab-link.active {
    display: none;
  }
}
